@import '../abstract/variaveis';

main {
    background-color: $cor-branco;
    background-image: url('../imagens/background.svg');
    background-size: cover;
    background-position: bottom;
    min-height: 63.75rem;
}

.adicionar_atividades {
    width: 79rem;
    display: flex;
    justify-content: space-between;
    height: 2.75rem;
    margin: 1.375rem auto 1.375rem 2.3125rem;
}

.adicionar_atividade__textarea {
    border: .0625rem solid $cor-verde;
    border-radius: .625rem;
    width: 26.5rem;
    color: $cor-cinza-escuro;
    font-size: 1.0625rem;
    padding-left: .75rem;
}

.adicionar_atividade__textarea::placeholder {
    padding-left: 5.5625rem;
    font-size: .875rem;
    color: $cor-cinza-escuro;
}

.adicionar_atividades__dia_semana {
    width: 13.125rem;
    border: .0625rem solid $cor-verde;
    border-radius: .625rem;
    padding-left: .75rem;
    color: $cor-cinza-escuro;
}

.select-editable {
    position:relative;
    border: .0625rem solid $cor-verde; 
    border-radius: .625rem;
    color: $cor-cinza-escuro;
    padding: .0625rem .0625rem .0625rem .75rem;
    width: 6.375rem;
    height: 2.5rem;
}
.select-editable select {
    position:absolute; 
    top:0px; 
    left:0px; 
    font-size: .875rem; 
    border:none; 
    width: 6.375rem;
    margin:0;
    height: 2.5rem;
    border-radius: 50%;
}
.select-editable input {
    display: flex;
    align-items: center;
    position:absolute; 
    top:0px; 
    left:0px; 
    width: 3.75rem;
    height: 2.375rem;
    padding: .0625rem .0625rem .0625rem .75rem; 
    font-size: .875rem; 
    border:none;
    border-radius: .625rem;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}

.adicionar_atividades__botao-adicionar {
    display: flex;
    align-items: center;
    background-color: $cor-verde;
    border: none;
    color: $cor-branco;
    border-radius: .625rem;
    font-family: $fonte-secundaria;
    font-size: .875rem;
    width: 13.875rem;
    justify-content: center;
}

.adicionar_atividades__botao-adicionar::before {
    content: "\002B";
    font-size: 1.5rem;
    padding-right: .25rem;
}

.adicionar_atividades__botao-excluir {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cor-vermelho;
    border: none;
    border-radius: .625rem;
    font-family: $fonte-secundaria;
    color: $cor-branco;
    font-size: 1.0625rem;
    width: 11.5rem;
}

.adicionar_atividades__botao-excluir::before {
    content: "\2212";
    font-size: 1.5rem;
    padding-right: .25rem;
}