@import '../abstract/variaveis';

.atividades__dia_semana {
    display: grid;
    grid-template-columns: 7.3125rem auto;
}

.atividades__dia_semana__horario-titulo {
    margin-left: 1rem;
    width: 5.3125rem;
    height: 4.6875rem;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .25rem 1.5rem $cor-box-shadow;
}

.atividades__dia_semana-lista {
    display: flex;
    justify-content: space-between;
    width: 78.625rem;
}

.atividades__dia_semana-item {
    border-radius: .5625rem .5625rem 0 0;
    box-shadow: 0 .25rem 1.5rem $cor-box-shadow;
    width: 9.375rem;
    height: 33px;
    color: $cor-branco;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}


.atividades__dia_semana-item_selecionado,.atividades__dia_semana-item:hover {
    width: 11.875rem;
}

.semana-laranja {
    background-color: $cor-laranja;
}

.semana-verde-claro {
    background-color: $cor-verde-claro;
}

.semana-azul {
    background-color: $cor-azul;
}

.semana-roxo {
    background-color: $cor-roxo;
}

.semana-azul-claro {
    background-color: $cor-azul-claro;
}

.semana-rosa {
    background-color: $cor-rosa;
}

.semana-vermelho-claro {
    background-color: $cor-vermelho-claro;
}

.cards {
    height: 40.5625rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin: .5625rem 1.5625rem 3.75rem 0;
    display: grid;
    grid-template-columns: 7.3125rem auto;

}

.cards::-webkit-scrollbar {
    background-color: $cor-branco;
    box-shadow: 0 .25rem 1.5rem $cor-box-shadow;
    border-radius: 1.375rem;
    width: 1rem;
}

.cards::-webkit-scrollbar-thumb {
    background: $cor-cinza;
    border-radius: .5rem;
    border: .25rem solid $cor-branco;
}

.cards__horarios-lista {
    margin-left: 1rem;
    margin-top: 1rem;
}

.cards__horarios-item {
    width: 5.3125rem;
    height: 5.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .625rem;
    margin-bottom: .5625rem;
    position: relative;
}

.cards__horarios-item-segunda {
    background-color: $cor-opacidade-laranja;
}

.cards__horarios-item-terca {
    background-color: $cor-opacidade-verde-claro;
}

.cards__horarios-item-quarta {
    background-color: $cor-opacidade-azul;
}

.cards__horarios-item-quinta {
    background-color: $cor-opacidade-roxo;
}

.cards__horarios-item-sexta {
    background-color: $cor-opacidade-azul-claro;
}

.cards__horarios-item-sabado {
    background-color: $cor-opacidade-rosa;
}

.cards__horarios-item-domingo {
    background-color: $cor-opacidade-vermelho-claro;
}

.cards__horarios-item-conflito {
    width: 5.3125rem;
    height: 5.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cor-opacidade-vermelho-claro;
    border-radius: .625rem;
    margin-bottom: .5625rem;
    position: relative;
}

.cards__atividades__lista {
    display: flex;
    position: relative;
}

.cards__atividades-item {
    width: 32rem;
    height: 5.2188rem;
    border: .0625rem solid $cor-branco;
    border-radius: .9375rem;
    margin-bottom: .5313rem;
    background: $cor-azul-gradiente;
    box-shadow: 0 .25rem 1.5rem $cor-box-shadow;
    display: grid;
    grid-template-columns: .875rem auto 4rem;
    margin-right: 1rem;
}

.cards__atividades-item-tag {
    min-width: .875rem;
    height: 5.3125rem;
    background-size: contain;
    border-radius: .9375rem 0 0 .9375rem;
}

.cards__atividades-item-tag-segunda {
    background-color: $cor-laranja;
}

.cards__atividades-item-tag-terca {
    background-color: $cor-verde-claro;
}

.cards__atividades-item-tag-quarta {
    background-color: $cor-azul;
}

.cards__atividades-item-tag-quinta {
    background-color: $cor-roxo;
}

.cards__atividades-item-tag-sexta {
    background-color: $cor-azul-claro;
}

.cards__atividades-item-tag-sabado {
    background-color: $cor-rosa;
}

.cards__atividades-item-tag-domingo {
    background-color: $cor-vermelho-claro;
}


.cards__atividades-item-tag-conflito {
    min-width: .875rem;
    height: 5.3125rem;
    background-color: $cor-vermelho-claro;
    background-size: contain;
    border-radius: .9375rem 0 0 .9375rem;
}

.cards__atividades-item-texto {
    padding-top: .75rem;
    padding-left: .8125rem;
}

.cards__atividades-item-apagar {
    width: 3.5625rem;
    height: 1.5625rem;
    background-color: $cor-vermelho-forte;
    color: $cor-branco;
    border-radius: .25rem;
    border: none;
    font-family: $fonte-secundaria;
    font-weight: 700;
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .75rem;
}

.cards__horarios-conflito {
    position: absolute;
    display: flex;
    width: 96vw;
    left: .25rem;
    top: 1.375rem;
    margin-bottom: 1.25rem;
    align-items: center;
    z-index: 1;
}

.conflito-elipse {
    width: 1.3344rem;
    height: 1.1219rem;
    background: $cor-vermelho-claro;
    border-radius: 50%;
}

.conflito-linha {
    width: 100%;
    height: .25rem;
    background: $cor-vermelho-claro;
}

.cards__atividades {
    display: inline-table;
    transform: rotate(180deg);
}

.flipped {
    width: 88vw;
    overflow-x: scroll;
    transform: rotate(180deg);
    display: flex;
    flex-direction: row-reverse;
}


.flipped::-webkit-scrollbar {
    background-color: $cor-branco;
    box-shadow: 0 .25rem 1.5rem $cor-box-shadow;
    border-radius: 1.375rem;
    
}

.flipped::-webkit-scrollbar-thumb {
    background: $cor-cinza;
    border: .25rem solid $cor-branco;
    border-radius: 1.375rem;
}

::-webkit-scrollbar-corner {
    display: none;
}