@import '../abstract/variaveis';

.navbar {
    background-color: $cor-branco;
    width: 100vw;
    display: flex;
    height: 8.1875rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .25rem 1.5rem $cor-box-shadow;
}

.navbar__banner {
    background-color: $cor-azul;
    width: 36.3125rem;
    border-radius: 0 .875rem .9375rem 0;
    padding: .6563rem 0 .6563rem 1.0625rem;
}

.navbar__banner-titulo {
    color: $cor-branco;
    font-size: 1.375rem;
    font-weight: 700;
}

.navbar__banner-texto {
    color: $cor-branco;
    font-size: .875rem;
}


.navbar__botoes-salvar {
    border: none;
    background-color: $cor-verde;
    color: white;
    border-radius: .625rem;
    padding: .625rem .875rem;
    font-family: $fonte-secundaria;
    font-size: 1.0625rem;
}

.navbar__botoes-excluir {
    border: none;
    background-color: $cor-vermelho;
    color: white;
    border-radius: .625rem;
    padding: .625rem .875rem;
    font-family: $fonte-secundaria;
    font-size: 1.0625rem;
}

.navbar__dia_hora {
    text-align: center;
    padding-right: 2.3125rem;
}

.navbar__dia_hora-horario {
    font-size: 2.5rem;
    padding-bottom: .9375rem;
}

.navbar__dia_hora-data {
    font-size: 1.25rem;
}