//fonte
$fonte-principal: 'Poppins', sans-serif;

//Cores
$cor-laranja: #FFA246;
$cor-verde-claro: #35E185;
$cor-azul: #6688FF;
$cor-roxo: #B266FF;
$cor-azul-claro: #66D1FF;
$cor-rosa: #FF66D4;
$cor-vermelho-claro: #FF6666;
$cor-verde: #2CBE82;
$cor-vermelho: #DA2B40;
$cor-vermelho-forte: #98031E;
$cor-vermelho-alerta: #F55D5D;
$cor-linha-alerta: #FF6D6D;
$cor-cinza: #DCDFE3;
$cor-branco: #FFFFFF;
$cor-preto: #000000;
$cor-opacidade-azul: #6688FF66;
$cor-opacidade-laranja: #FFA24666;
$cor-opacidade-verde-claro: #35E18566;
$cor-opacidade-roxo: #B266FF66;
$cor-opacidade-azul-claro: #66D1FF66;
$cor-opacidade-rosa: #FF66D466;
$cor-opacidade-vermelho-claro: #FF666666;
$cor-opacidade-vermelho-alerta: #F55D5D66;
$cor-azul-gradiente: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
