@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.navbar {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  height: 8.1875rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.25rem 1.5rem rgba(168, 168, 168, 0.25);
}

.navbar__banner {
  background-color: #6688FF;
  width: 36.3125rem;
  border-radius: 0 0.875rem 0.9375rem 0;
  padding: 0.6563rem 0 0.6563rem 1.0625rem;
}

.navbar__banner-titulo {
  color: #FFFFFF;
  font-size: 1.375rem;
  font-weight: 700;
}

.navbar__banner-texto {
  color: #FFFFFF;
  font-size: 0.875rem;
}

.navbar__botoes-salvar {
  border: none;
  background-color: #2CBE82;
  color: white;
  border-radius: 0.625rem;
  padding: 0.625rem 0.875rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.0625rem;
}

.navbar__botoes-excluir {
  border: none;
  background-color: #DA2B40;
  color: white;
  border-radius: 0.625rem;
  padding: 0.625rem 0.875rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.0625rem;
}

.navbar__dia_hora {
  text-align: center;
  padding-right: 2.3125rem;
}

.navbar__dia_hora-horario {
  font-size: 2.5rem;
  padding-bottom: 0.9375rem;
}

.navbar__dia_hora-data {
  font-size: 1.25rem;
}

main {
  background-color: #FFFFFF;
  background-image: url("../imagens/background.svg");
  background-size: cover;
  background-position: bottom;
  min-height: 63.75rem;
}

.adicionar_atividades {
  width: 79rem;
  display: flex;
  justify-content: space-between;
  height: 2.75rem;
  margin: 1.375rem auto 1.375rem 2.3125rem;
}

.adicionar_atividade__textarea {
  border: 0.0625rem solid #2CBE82;
  border-radius: 0.625rem;
  width: 26.5rem;
  color: #3B3E45;
  font-size: 1.0625rem;
  padding-left: 0.75rem;
}

.adicionar_atividade__textarea::-moz-placeholder {
  padding-left: 5.5625rem;
  font-size: 0.875rem;
  color: #3B3E45;
}

.adicionar_atividade__textarea:-ms-input-placeholder {
  padding-left: 5.5625rem;
  font-size: 0.875rem;
  color: #3B3E45;
}

.adicionar_atividade__textarea::placeholder {
  padding-left: 5.5625rem;
  font-size: 0.875rem;
  color: #3B3E45;
}

.adicionar_atividades__dia_semana {
  width: 13.125rem;
  border: 0.0625rem solid #2CBE82;
  border-radius: 0.625rem;
  padding-left: 0.75rem;
  color: #3B3E45;
}

.select-editable {
  position: relative;
  border: 0.0625rem solid #2CBE82;
  border-radius: 0.625rem;
  color: #3B3E45;
  padding: 0.0625rem 0.0625rem 0.0625rem 0.75rem;
  width: 6.375rem;
  height: 2.5rem;
}

.select-editable select {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 0.875rem;
  border: none;
  width: 6.375rem;
  margin: 0;
  height: 2.5rem;
  border-radius: 50%;
}

.select-editable input {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3.75rem;
  height: 2.375rem;
  padding: 0.0625rem 0.0625rem 0.0625rem 0.75rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.625rem;
}

.select-editable select:focus, .select-editable input:focus {
  outline: none;
}

.adicionar_atividades__botao-adicionar {
  display: flex;
  align-items: center;
  background-color: #2CBE82;
  border: none;
  color: #FFFFFF;
  border-radius: 0.625rem;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  width: 13.875rem;
  justify-content: center;
}

.adicionar_atividades__botao-adicionar::before {
  content: "+";
  font-size: 1.5rem;
  padding-right: 0.25rem;
}

.adicionar_atividades__botao-excluir {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DA2B40;
  border: none;
  border-radius: 0.625rem;
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  font-size: 1.0625rem;
  width: 11.5rem;
}

.adicionar_atividades__botao-excluir::before {
  content: "−";
  font-size: 1.5rem;
  padding-right: 0.25rem;
}

.atividades__dia_semana {
  display: grid;
  grid-template-columns: 7.3125rem auto;
}

.atividades__dia_semana__horario-titulo {
  margin-left: 1rem;
  width: 5.3125rem;
  height: 4.6875rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.25rem 1.5rem rgba(168, 168, 168, 0.25);
}

.atividades__dia_semana-lista {
  display: flex;
  justify-content: space-between;
  width: 78.625rem;
}

.atividades__dia_semana-item {
  border-radius: 0.5625rem 0.5625rem 0 0;
  box-shadow: 0 0.25rem 1.5rem rgba(168, 168, 168, 0.25);
  width: 9.375rem;
  height: 33px;
  color: #FFFFFF;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atividades__dia_semana-item_selecionado {
  width: 11.875rem;
}

.semana-laranja {
  background-color: #FFA246;
}

.semana-verde-claro {
  background-color: #35E185;
}

.semana-azul {
  background-color: #6688FF;
}

.semana-roxo {
  background-color: #B266FF;
}

.semana-azul-claro {
  background-color: #66D1FF;
}

.semana-rosa {
  background-color: #FF66D4;
}

.semana-vermelho-claro {
  background-color: #FF6666;
}

.cards {
  height: 40.5625rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.5625rem 1.5625rem 3.75rem 0;
  display: grid;
  grid-template-columns: 7.3125rem auto;
}

.cards::-webkit-scrollbar {
  background-color: #FFFFFF;
  box-shadow: 0 0.25rem 1.5rem rgba(168, 168, 168, 0.25);
  border-radius: 1.375rem;
  width: 1rem;
}

.cards::-webkit-scrollbar-thumb {
  background: #DCDFE3;
  border-radius: 0.5rem;
  border: 0.25rem solid #FFFFFF;
}

.cards__horarios-lista {
  margin-left: 1rem;
  margin-top: 1rem;
}

.cards__horarios-item {
  width: 5.3125rem;
  height: 5.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(102, 136, 255, 0.4);
  border-radius: 0.625rem;
  margin-bottom: 0.5625rem;
  position: relative;
}

.cards__horarios-item-conflito {
  width: 5.3125rem;
  height: 5.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 102, 102, 0.4);
  border-radius: 0.625rem;
  margin-bottom: 0.5625rem;
  position: relative;
}

.cards__atividades__lista {
  display: flex;
  position: relative;
}

.cards__atividades-item {
  width: 32rem;
  height: 5.2188rem;
  border: 0.0625rem solid #FFFFFF;
  border-radius: 0.9375rem;
  margin-bottom: 0.5313rem;
  background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
  box-shadow: 0 0.25rem 1.5rem rgba(168, 168, 168, 0.25);
  display: grid;
  grid-template-columns: 0.875rem auto 4rem;
  margin-right: 1rem;
}

.cards__atividades-item-tag {
  min-width: 0.875rem;
  height: 5.3125rem;
  background-color: #6688FF;
  background-size: contain;
  border-radius: 0.9375rem 0 0 0.9375rem;
}

.cards__atividades-item-tag-conflito {
  min-width: 0.875rem;
  height: 5.3125rem;
  background-color: #FF6666;
  background-size: contain;
  border-radius: 0.9375rem 0 0 0.9375rem;
}

.cards__atividades-item-texto {
  padding-top: 0.75rem;
  padding-left: 0.8125rem;
}

.cards__atividades-item-apagar {
  width: 3.5625rem;
  height: 1.5625rem;
  background-color: #98031E;
  color: #FFFFFF;
  border-radius: 0.25rem;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
}

.cards__horarios-conflito {
  position: absolute;
  display: flex;
  width: 96vw;
  left: 0.25rem;
  top: 1.375rem;
  margin-bottom: 1.25rem;
  align-items: center;
  z-index: 1;
}

.conflito-elipse {
  width: 1.3344rem;
  height: 1.1219rem;
  background: #FF6666;
  border-radius: 50%;
}

.conflito-linha {
  width: 100%;
  height: 0.25rem;
  background: #FF6666;
}

.cards__atividades {
  display: inline-table;
  transform: rotate(180deg);
}

.flipped {
  width: 88vw;
  overflow-x: scroll;
  transform: rotate(180deg);
  display: flex;
  flex-direction: row-reverse;
}

.flipped::-webkit-scrollbar {
  background-color: #FFFFFF;
  box-shadow: 0 0.25rem 1.5rem rgba(168, 168, 168, 0.25);
  border-radius: 1.375rem;
}

.flipped::-webkit-scrollbar-thumb {
  background: #DCDFE3;
  border: 0.25rem solid #FFFFFF;
  border-radius: 1.375rem;
}

::-webkit-scrollbar-corner {
  display: none;
}/*# sourceMappingURL=style.css.map */